@{
    ViewBag.Title = "FormShared";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}
<div id="Form_dec">
    <div id="Form-panel"class="container" >
        @RenderBody()
    </div>    
</div>

