@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}


<h2 class="page-header">Starch Production Monitoring Project</h2>
<!-- Flow -->
<div class="col-md-8"><h3 class="sub-header">Flow Diagram</h3><img style="width:100%" src="~/Image/FlowDiagram.jpg" /></div>