@{
    ViewBag.Title = "PulpExtractor1"; Layout = "~/Views/Shared/Monitor.cshtml";
}

<h3 class="sub-header">Pulp Extractor #1 Unit</h3>
<div>
    <div class="panel-body">
        <div>
            <p id="trial"></p>
            <div id="ShowGraph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
        Feed In
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h5 class="panel-title">Feed from Coarse Extractor</h5>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="sum-head">Starch</td>
                                    <td id="Pulp1In1Starch" class="sum-value"></td>
                                    <td class="sum-unit">Ton</td>
                                </tr>
                                <tr>
                                    <td class="sum-head">Water</td>
                                    <td id="Pulp1In1Water" class="sum-value"></td>
                                    <td class="sum-unit">m^3</td>
                                </tr>
                                <tr>
                                    <td class="sum-head">Pulp</td>
                                    <td id="Pulp1In1Pulp" class="sum-value"></td>
                                    <td class="sum-unit">Ton</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h5 class="panel-title">Feed from Seperator 0</h5>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="sum-head">Starch</td>
                                    <td id="Pulp1In2Starch" class="sum-value"></td>
                                    <td class="sum-unit">Ton</td>
                                </tr>
                                <tr>
                                    <td class="sum-head">Water</td>
                                    <td id="Pulp1In2Water" class="sum-value"></td>
                                    <td class="sum-unit">m^3</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        Feed Out
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h5 class="panel-title">Feed to Pulp Extractor 2</h5>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="sum-head">Starch</td>
                                    <td id="Pulp1Out1Starch" class="sum-value"></td>
                                    <td class="sum-unit">Ton</td>
                                </tr>
                                <tr>
                                    <td class="sum-head">Water</td>
                                    <td id="Pulp1Out1Water" class="sum-value"></td>
                                    <td class="sum-unit">m^3</td>
                                </tr>
                                <tr>
                                    <td class="sum-head">Pulp</td>
                                    <td id="Pulp1Out1Pulp" class="sum-value"></td>
                                    <td class="sum-unit">Ton</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h5 class="panel-title">Feed to Rasper</h5>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="sum-head">Starch</td>
                                    <td id="Pulp1Out2Starch" class="sum-value"></td>
                                    <td class="sum-unit">Ton</td>
                                </tr>
                                <tr>
                                    <td class="sum-head">Water</td>
                                    <td id="Pulp1Out2Water" class="sum-value"></td>
                                    <td class="sum-unit">m^3</td>
                                </tr>
                                <tr>
                                    <td class="sum-head">Pulp</td>
                                    <td id="Pulp1Out2Pulp" class="sum-value"></td>
                                    <td class="sum-unit">Ton</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var starchIn1 = [];
        var starchIn2 = [];
        var starchOut1 = [];
        var starchOut2 = [];

        var gettimeIn1 = "";
        var gettimeIn2 = "";
        var getStarchIn1 = "";
        var getStarchIn2 = "";
        var gettime1 = "";
        var gettime2 = "";
        var getStarch1 = "";
        var getStarch2 = "";
        var CurrentDate = "";


        $.ajax({
            async: true,
            cach: false,
            url: "/Index/DataPulpExtractor1History",
            Type: "GET",
            datatype: "json",
            contentType: "applicationType/json",
            success: function (response) {

                var date, month, year,hour;
                $.each(response, function (i, item) {

                    var datetime = new Date(parseInt(item.gettime.substr(6)));
                    var d = new Date(datetime);
                    var newdate = Date.parse(datetime);
                    date = d.getDate();
                    month = d.getMonth();
                    year = d.getFullYear();
                    var data = item.value;
                    hour = d.getHours();
                    if (item.parameter == "PV(FIC-091)") {
                        if (CurrentDate == "") {
                            CurrentDate = newdate;
                        }
                        data = data * 0.006359;
                        starchIn1.push([newdate, data]);
                    }
                    else if (item.parameter == "WAFU09") {
                        data = data * 0.002;
                        starchIn2.push([newdate, data]);
                    }
                    else if (item.parameter == "SFU09") {
                        data = data *  0.58/64.81;
                        starchOut1.push([newdate, data]);
                    }
                    else if (item.parameter == "PFU09") {
                        data = data * 0.37/106.62;
                        starchOut2.push([newdate, data]);
                    }

                });

                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    }
                });

                $(function () {

                    $('#ShowGraph').highcharts({
                        chart: {
                            //type: 'spline',
                            events: {
                                load: function () {
                                    // find the clicked values and the series
                                    var series1 = this.series[0],
                                        series2 = this.series[1],
                                        series3 = this.series[2];
                                        series4 = this.series[3];
                                    setInterval(function () {

                                        callData();

                                        var x1 = gettime1,
                                            x2 = gettime2,
                                            x3 = gettimeIn1,
                                            x4 = gettimeIn2,


                                            y1 = getStarch1,
                                            y2 = getStarch2,
                                            y3 = getStarchIn1,
                                            y4 = getStarchIn2;



                                        series1.addPoint([x3, y3]);
                                        series2.addPoint([x4, y4]);
                                        series3.addPoint([x1, y1]);
                                        series4.addPoint([x2, y2])

                                    }, 60000);


                                }
                            }
                        },

                        title: {
                            text: 'Performance Monitoring'
                        },
                        subtitle: {
                            text: 'Pulp Extractor #1 Unit'
                        },
                        xAxis: {
                            type: 'datetime',
                            dateTimeLabelFormats: {
                                second: '%H:%M',
                                minute: '%H:%M',
                                hour: '%H:%M',
                                day: '%H:%M',
                                week: '%H:%M',
                                month: '%H:%M',
                                year: '%H:%M'


                            },
                            title: {
                                text: 'Time'
                            },
                            min: Date.UTC(year, month, date, hour - 7, 0),
                            max: Date.UTC(year, month, date, hour + 1, 0),
                            tickInterval: 3600 * 1000

                        },
                        yAxis: {
                            title: {
                                text: 'Starch Amount (Ton)'
                            },
                            min: 0
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: '{point.x:%e %b %Y %H:%M}: {point.y:.2f} m'
                        },

                        plotOptions: {
                            spline: {
                                marker: {
                                    enabled: true
                                }
                            }
                        },


                        series: [{
                            name: 'Starch In 1',
                            data: starchIn1,
                            pointStart: CurrentDate

                        }
                        , {
                            name: 'Starch In 2',
                            data: starchIn2,
                            pointStart: CurrentDate

                        }
                        , {
                            name: 'Starch Out 1',
                            data: starchOut1,
                            pointStart: CurrentDate

                        }
                        , {
                            name: 'Starch Out 2',
                            data: starchOut2,
                            pointStart: CurrentDate

                        }
                        ]
                    });


                });

            }


        });

        get();
        setInterval(function () {
            get();
        }, 60000);

        function callData() {

            $.ajax({
                async: false,
                cach: false,
                url: "/Index/DataPulpExtractor1",
                Type: "GET",
                datatype: "json",
                contentType: "applicationType/json",
                success: function (response) {
                    $.each(response, function (i, item) {
                        var datetime2 = new Date(parseInt(item.gettime.substr(6)));
                        var newdate2 = Date.parse(datetime2);
                        var data2 = item.value;

                        if (item.parameter == "PV(FIC-091)") {
                            data2 = data2 * 0.006359;
                            gettimeIn1 = newdate2;
                            getStarchIn1 = data2;
                        }
                        else if (item.parameter == "WAFU09") {
                            data2 = data2 * 0.002;
                            gettimeIn2 = newdate2;
                            getStarchIn2 = data2;

                        }
                        else if (item.parameter == "SFU09") {
                            data2 = data2 * 0.58 / 64.81;
                            gettime1 = newdate2;
                            getStarch1 = data2;

                        }
                        else if (item.parameter == "PFU09") {
                            data2 = data2 * 0.37 / 106.62;
                            gettime2 = newdate2;
                            getStarch2 = data2;

                        }

                    });
                }
            });





        }

        function get() {

            $.ajax({
                async: true,
                cach: false,
                url: "/Index/DataPulpExtractor1",
                Type: "GET",
                datatype: "json",
                contentType: "applicationType/json",
                data: { valueS: "Hello" },
                success: function (response) {
                    $.each(response, function (i, item) {


                        if (item.parameter == "SFU09"){
                            $("#Pulp1Out1Starch").html((item.value * 0.58 / 64.81).toFixed(2));
                            $("#Pulp1Out1Water").html((item.value * 34.77 / 64.81).toFixed(2));
                            $("#Pulp1Out1Pulp").html((item.value*29.26/ 64.81).toFixed(2));
                        } 
                        else if (item.parameter == "PFU09") {
                            $("#Pulp1Out2Starch").html((item.value * 0.37 / 106.62).toFixed(2));
                            $("#Pulp1Out2Water").html((item.value * 98.44 / 106.62).toFixed(2));
                            $("#Pulp1Out2Pulp").html((item.value * 8.01 / 106.62).toFixed(2));
                        }
                        else if (item.parameter == "PV(FIC-091)") {
                            $("#Pulp1In1Starch").html((item.value * 0.006359).toFixed(2));
                            $("#Pulp1In1Water").html((item.value * 0.74459).toFixed(2));
                            $("#Pulp1In1Pulp").html((item.value * 0.24538).toFixed(2));
                        }
                        else if (item.parameter == "WAFU09") {
                            $("#Pulp1In2Starch").html((item.value*0.002).toFixed(2));
                            $("#Pulp1In2Water").html((item.value*0.997).toFixed(2));
                        }
                    });
                }


            });
        }

    });
</script>
